<h2>Kameras: Robert-Bosch-Straße</h2>
<div class="subpage">
    <ul>
        <li><a href="http://10.4.1.11">RBS4 EG Vorne</a></li>
        <li><a href="http://10.4.1.12">RBS4 EG Hinten</a></li>
		<li><a href="http://10.4.1.16">RBS4 Hofseite</a></li>
    </ul>
</div>
<h2>Kameras: Friedrich-Ebert-Straße</h2>
<div class="subpage">
    <ul>
        <li><a href="http://192.168.4.210">FES Hof</a></li>
    </ul>
</div>
<h2>Kameras: Bahnhofstraße</h2>
<div class="subpage">
    <ul>
        <li><a href="http://192.168.4.212">BHS Tor</a></li>
        <li><a href="http://192.168.25.40">BHS8 Eingang</a></li>
        <li><a href="http://192.168.25.42">BHS8 Eingang Außen</a></li>
        <li><a href="http://192.168.25.41">BHS8 Straße</a></li>
    </ul>
</div>