    <div id="main" class="page currentPage">
        @Html.Partial("Main")
    </div>
    <div id="cameras" class="page">
        @Html.Partial("Cameras")
    </div>
    <div id="storage" class="page">
        @Html.Partial("Storage")
    </div>
    <div id="router" class="page">
        @Html.Partial("Router")
    </div>