<div class="widetile" data-select-id="cameras">
<h2>Kameras</h2>
<p>Web Zugriff auf die einzelnen Kameras</p>
</div>

<div class="tile" data-select-id="router">
<h2>Router</h2>
<p>Die Router</p>
</div>

<div class="widetile" data-select-id="storage">
<h2>Festplatten-Speicher</h2>
<p>Web Zugriff auf die Speicher-Systeme</p>
</div>

