<h2>Router</h2>
<div class="subpage">
    <ul>
        <li><a href="http://10.4.1.100">Robert-Bosch-Straße 2a (Telekom)</a></li>
        <li><a href="http://192.168.4.1">Friedrich-Ebert-Straße 6 (UnityMedia)</a></li>
    </ul>
</div>
