<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aperea.Bootstrap" version="1.0.0.69" targetFramework="net45" />
  <package id="Aperea.Data.EntityFramework" version="1.0.0.69" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>